---
title: home
description: Culpa dicta ad repellat et. Vitae excepturi fuga perferendis alias.
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
	<head>
		{% include "_includes/head.njk" %}
	</head>

	<body class="bg-black text-white h-full w-full">
		<div class="h-full w-full flex justify-center items-center gap-5">
			<h1 class="font-semibold">gg</h1>

			<ul>
				<li><a href="turtle" class="hover:text-slate-500 transition">turtle</a></li>
			</ul>
		</div>

		{% include "_includes/footer.njk" %}
	</body>
</html>