@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source not "./_site";

@font-face {
    font-family: Inter;
    src:
        local("Inter:style=Regular"),
        url("../assets/fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src:
        local("Inter:style=Bold"),
        url("../assets/fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: Xanh;
    src:
        local("Xanh Mono:style=Regular"),
        url("../assets/fonts/XanhMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: Sixtyfour;
    src:
        local("Sixtyfour:style=Regular"),
        url("../assets/fonts/Sixtyfour-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.sixtyfour-primary {
    font-family: "Sixtyfour", monospace;
    font-variation-settings:
        "BLED" 50,
        "SCAN" -20;
}

.sixtyfour-secondary {
    font-family: "Sixtyfour", monospace;
    font-variation-settings:
        "BLED" 30,
        "SCAN" -50;
}

@theme {
    --color-accent: var(--color-rose-500);
}

@utility container {
    margin-inline: auto;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
