@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source not "./_site";

@font-face {
    font-family: Inter;
    src:
        local("Inter:style=Regular"),
        url("../assets/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src:
        local("Inter:style=Bold"),
        url("../assets/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Xanh;
    src:
        local("Xanh Mono:style=Regular"),
        url("../assets/XanhMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-accent: var(--color-rose-500);
}

@utility container {
    margin-inline: auto;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
