<meta charset="UTF-8"/>

<title>gg ÷ {{ title }}</title>
<meta name="description" content="{{ description }}"/>

<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> 

{% block head %}{% endblock %}