<meta charset="UTF-8"/>

<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>

<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">

<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
{# <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> #} 

{% block head %}{% endblock %}
